@import '@fontsource/fira-mono';

@font-face {
	font-family: bitread;
	src: url(/fonts/Bitread-Regular.ttf);
}

@font-face {
	font-family: jura;
	src: url(/fonts/Jura.ttf);
}

:root {
	--pure-white: #ffffff;
	--pure-black: #000000;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ffe400;
	--highlight-color: #ffe400;

	--heading-color: white;
	--text-color: white;
	--background-color: black;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	font-family: jura;
	font-weight: 400;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	width: auto;
	max-width: var(--column-width);
	margin: var(--column-margin-top) auto 0 auto;
	padding: 0 1rem;
	min-width: 316px;

}

h1, h3 {
	color: var(--accent-color)
}


p, div {
	font-weight: 400;
	color: var(--heading-color);
}
li {
	color: var(--heading-color);

}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	color: var(--white-color)
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

hr {
	border-color: var(--accent-color);
	opacity: .3;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.button {
	border: 1px solid var(--accent-color);
	box-sizing: border-box;
	border-radius: 10px;
	margin: auto .5rem;
	padding: .5rem;
	color: var(--text-color);
	font-weight: 700;
	display: flex;
	justify-content: center;
	text-align: center;
}
.button:hover {
	background-color: var(--accent-color);
	color: var(--pure-black);
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
